@import "../utils/utils";

.btr-calc {
  &__container {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    padding: 80px 20px 140px;
    margin: auto;
    column-gap: 40px;
  }
}
.btr-form {
  width: 40%;
  &__field {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    margin-bottom: 48px;
  }
  &__label {
    @include title4;
  }
  &__submit {
    @include btntext;
    border: none;
    background: transparent;
    background-color: $main;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 32px;
    gap: 16px;
    cursor: pointer;
    text-decoration: none;
  }
  &__radio-set {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__field-with-caption {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }
  &__caption {
    @include text12;
  }
  &__divider {
    height: 1px;
    width: 100%;
    background-color: $main;
  }
  &__pricebox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__price {
    @include title3;
  }
}
.btr-text-input {
  @include text14;
  &::placeholder {
    @include text12;
  }
}
.btr-radio {
  &_type_full {
    align-self: start;
    transform: translate(0, 5px);
  }
  &__control {
    display: block;
    margin-right: 8px;
    cursor: pointer;
  }
  &__label {
    @include text16;
    margin-right: 48px;
    cursor: pointer;
    &_type_additional {
      display: flex;
      flex-direction: column;
      row-gap: 8px;
    }
  }
  &__caption {
    display: block;
    @include text12;
    color: $text_grey;
  }
}

.btr-option {
  @include text14;
}

.btr-imagebox {
  width: 60%;
  &__image {
    display: block;
    object-fit: cover;
    object-position: center;
  }
}
